iframe{
    
}
.fa-instagram{
    color: rgb(226, 43, 186);
}
.moradoInsta{
    color: rgb(226, 43, 186);
    background-color: rgb(226, 43, 186);
}

.titulo{
    font-size: 4rem;
}

@media (max-width: 600px){
    .titulo {
        font-size: 2.8rem;
    }
}